
/* latin-ext */
@font-face {
    font-family: 'Satans';
    /*font-style: normal;*/
    /*font-weight: 400;*/
    src: url(../assets/satam.ttf) format('truetype');
}

/*h1 {*/
/*    !* Extra small devices (phones, less than 768px) *!*/
/*    font-size: 3rem !important;*/
/*}*/


@media (max-width: 992px) {
    h1 {
        /* Extra small devices (phones, less than 768px) */
        font-size: 3rem !important;
    }
}


@media (max-width: 767px) {
    h1 {
        /* Extra small devices (phones, less than 768px) */
        font-size: 2.5rem !important;
    }
}


@media (max-width: 600px) {
    h1 {
        /* Extra small devices (phones, less than 768px) */
        font-size: 2rem !important;
    }
}

@media (max-width: 400px) {
    h1 {
        /* Extra small devices (phones, less than 768px) */
        font-size: 1.5rem !important;
    }
}

h1 {
    color: white;
    font-family: 'Satans', serif
}




/*!* Small devices (tablets, 768px and up) *!*/
/*@media (min-width: 768px) {*/
/*    h1 {*/
/*        font-size: 12px;*/
/*    }*/
/*}*/

/*!* Medium devices (desktops, 992px and up) *!*/
/*@media (min-width: 992px) {*/
/*    h1 {*/
/*        font-size: 16px;*/
/*    }*/
/*}*/

/*!* Large devices (large desktops, 1200px and up) *!*/
/*@media (min-width: 1200px) {*/
/*    h1 {*/
/*        font-size: 18px;*/
/*    }*/
/*}*/

/*.custombar {*/
/*    -webkit-transition: width 10.0s ease !important;*/
/*    -moz-transition: width 10.0s ease !important;*/
/*    -o-transition: width 10.0s ease !important;*/
/*    transition: width 10.0s ease !important;*/
/*}*/

body {
    background: url('../assets/bluebg-portrait.jpg');
    background-size: cover !important;
    background-color: #cccccc;
    background-attachment: fixed !important;
    /*background-repeat: repeat !important;*/
    /*background-position: top left !important;*/
}



.progress-bar-full {
    transition: width 0s linear;
}

.progress-bar-elapsing {
    transition: width 0.25s linear;
}


.progress-bar {

}


#scrollable-dropdown-menu .tt-dropdown-menu {
    max-height: 150px;
    overflow-y: auto;
}


.tt-hint {
    color: #999;
}

.tt-input {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}


.tt-menu {
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
    cursor: pointer;
}

.tt-suggestion p {
    margin: 0;
}

/* ENDLESS ROTATE */
.rotate{
    animation: rotate 1.5s linear infinite;
}
@keyframes rotate{
    to{ transform: rotate(360deg); }
}



@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}










