body {
    font-family: 'Roboto', sans-serif !important;
}


#header {
    /*background-color: #263d36;*/
    /*background-image: url("../assets/banner-image.jpg");*/

    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3) ), url("../assets/banner-image.jpg");

    /*background: rgba(0, 0, 0, 0.6) url("../assets/banner-image.jpg");*/
    /*background-blend-mode: multiply;*/


    background-size: cover;
    line-height: 1.2;

    padding: 10vw 0em;
    text-align: center;
    /*overflow-x:hidden;*/

    box-shadow: 0 1px 16px 1px black;

}

@media (min-width: 1400px) {
    #header {
        padding: 5vw 0em;
    }
}


/*#header h1 {*/
/*    color: white;*/
/*    font-size: 2.5em;*/
/*    font-weight: 300;*/
/*}*/



/* latin-ext */
@font-face {
    font-family: 'Satans';
    /*font-style: normal;*/
    /*font-weight: 400;*/
    src: url(../assets/satam.ttf) format('truetype');
}

/*h1 {*/
/*    !* Extra small devices (phones, less than 768px) *!*/
/*    font-size: 3rem !important;*/
/*}*/

@media (max-width: 2560px) {
    h1 {
        /* Extra small devices (phones, less than 768px) */
        font-size: 6rem !important;
    }
}

@media (max-width: 1440px) {
    h1 {
        /* Extra small devices (phones, less than 768px) */
        font-size: 5rem !important;
    }
}

@media (max-width: 992px) {
    h1 {
        /* Extra small devices (phones, less than 768px) */
        font-size: 4rem !important;
    }

    .custom-card {
        padding-left: 4px !important;
        padding-right: 4px !important;
    }
}


@media (max-width: 767px) {
    h1 {
        /* Extra small devices (phones, less than 768px) */
        font-size: 3.5rem !important;
    }
}


@media (max-width: 600px) {
    h1 {
        /* Extra small devices (phones, less than 768px) */
        font-size: 3rem !important;
    }
}

@media (max-width: 450px) {
    h1 {
        /* Extra small devices (phones, less than 768px) */
        font-size: 2rem !important;
    }
}

h1 {
    /*font-weight: bold !important;*/
    /*font-size: 6rem !important;;*/
    color: #ffffff !important;
    font-family: 'Satans', serif

}

.color-overlay {
    width: 100%;
    height: 100%;
    /*background-color: black;*/
    /*opacity: 0.65;*/

}

.jumbotron {
    z-index: 2;
    box-shadow: 0 8px 16px -6px black;
}



.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
}

@media (min-width: 576px) {
    .jumbotron {
        padding: 2.5rem 2rem;
    }
}

/*!* Small devices (tablets, 768px and up) *!*/
/*@media (min-width: 768px) {*/
/*    h1 {*/
/*        font-size: 12px;*/
/*    }*/
/*}*/

/*!* Medium devices (desktops, 992px and up) *!*/
/*@media (min-width: 992px) {*/
/*    h1 {*/
/*        font-size: 16px;*/
/*    }*/
/*}*/

/*!* Large devices (large desktops, 1200px and up) *!*/
/*@media (min-width: 1200px) {*/
/*    h1 {*/
/*        font-size: 18px;*/
/*    }*/
/*}*/

/*.custombar {*/
/*    -webkit-transition: width 10.0s ease !important;*/
/*    -moz-transition: width 10.0s ease !important;*/
/*    -o-transition: width 10.0s ease !important;*/
/*    transition: width 10.0s ease !important;*/
/*}*/

body {
    background: url('../assets/bluebg-portrait.jpg');
    background-size: cover !important;
    background-color: #cccccc;
    background-attachment: fixed !important;
    /*background-repeat: repeat !important;*/
    /*background-position: top left !important;*/
}

.fill {
    min-height: 90%;
    height: 90%;
}

.progress-bar-full {
    transition: width 0s linear;
}

.progress-bar-elapsing {
    transition: width 0.1s linear;
}


.progress-bar {
    border-radius: 5px;
}

.custom-bar {
    background-color: #1a1a1a;
    height: 25px;
    padding: 5px;
    width: 350px;
    margin: 50px 0;
    border-radius: 5px;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

.custom-bar span {
    display: inline-block;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out;
}

.green {
    background-color: #a5df41;
    background-image: linear-gradient(top, #a5df41, #4ca916);
}

.glow  {
    box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset,
    0 -5px 5px rgba(255, 255, 255, .7) inset;
    animation: animate-glow 1s ease-out infinite;
}

@keyframes animate-glow {
    0% {
        box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset,
        0 -5px 5px rgba(255, 255, 255, .7) inset;
    }
    50% {
        box-shadow: 0 5px 5px rgba(255, 255, 255, .3) inset,
        0 -5px 5px rgba(255, 255, 255, .3) inset;
    }
    100% {
        box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset,
        0 -5px 5px rgba(255, 255, 255, .7) inset;
    }
}

#scrollable-dropdown-menu .tt-dropdown-menu {
    max-height: 150px;
    overflow-y: auto;
}


.tt-hint {
    color: #999;
}

.tt-input {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}


.tt-menu {
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
    cursor: pointer;
}

.tt-suggestion p {
    margin: 0;
}

/* ENDLESS ROTATE */
.rotate{
    animation: rotate 1.5s linear infinite;
}
@keyframes rotate{
    to{ transform: rotate(360deg); }
}



@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}





.disclaimer
{
    font-family: monospace !important;
    color: white !important;
}





