
/* latin-ext */
@font-face {
    font-family: 'Satans';
    /*font-style: normal;*/
    /*font-weight: 400;*/
    src: url(../assets/satam.ttf) format('truetype');
}

@media (max-width: 767px) {
    h1 {
        /* Extra small devices (phones, less than 768px) */
        font-size: 2rem !important;
    }
}

h1 {
    color: white;
    font-family: 'Satans', serif
}




/*!* Small devices (tablets, 768px and up) *!*/
/*@media (min-width: 768px) {*/
/*    h1 {*/
/*        font-size: 12px;*/
/*    }*/
/*}*/

/*!* Medium devices (desktops, 992px and up) *!*/
/*@media (min-width: 992px) {*/
/*    h1 {*/
/*        font-size: 16px;*/
/*    }*/
/*}*/

/*!* Large devices (large desktops, 1200px and up) *!*/
/*@media (min-width: 1200px) {*/
/*    h1 {*/
/*        font-size: 18px;*/
/*    }*/
/*}*/

/*.custombar {*/
/*    -webkit-transition: width 10.0s ease !important;*/
/*    -moz-transition: width 10.0s ease !important;*/
/*    -o-transition: width 10.0s ease !important;*/
/*    transition: width 10.0s ease !important;*/
/*}*/

body {
    background: url('http://192.168.1.68:63341/MTG Guesser/assets/bluebg-portrait.jpg');
    background-size: cover !important;
    background-color: #cccccc;
    background-attachment: fixed !important;
    /*background-repeat: repeat !important;*/
    /*background-position: top left !important;*/
}



.progress-bar-full {
    transition: width 0s linear;
    width: 100%;
}

.progress-bar-elapsing {
    transition: width 1s linear;
}


.progress-bar {

}


#scrollable-dropdown-menu .tt-dropdown-menu {
    max-height: 150px;
    overflow-y: auto;
}


.tt-hint {
    color: #999;
}

.tt-input {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}


.tt-menu {
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
    cursor: pointer;
}

.tt-suggestion p {
    margin: 0;
}